@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');

body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: inherit;
    background-color: rgba(212, 212, 212, 0.5);
}
.title-about {
    color: #1291EEFF;
    text-transform: capitalize;
    font-size: 19px;
    margin-bottom: 30px;
}
.title {
    font-size: 32px;
    font-weight: 500;
    color: #081E5AFF;
    margin-bottom: 15px;
}
.content-about {
    font-size: 17px;
    color: #738494FF;
    margin-bottom: 30px;
    max-width: 500px;
}
.get-start {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    padding: 14px 34px;
    background-color: #1291EEFF;
    cursor: pointer;
    color: #FFF;
    border-radius: 3px;
    text-transform: capitalize;
}